.tableContainer {
    margin: 3rem auto;
}

.appContainer {
  background-color: #8ac8cf;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 50px;
}

.headerText {
    font-size: xx-large;
}
